.page {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 100vh;
}
.topcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh;
    border: 2px blue;
}
