
.home {
    background-color: #b08cec;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 414px;
    text-align: center;
  }
.logos{
    display: flex;
    width: 400px;
    height: 50px;
}
.hackwesternLogo{
    background-image: url('../../public/image.png');
    width: 15%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-top: -5%;
}
.hackmatchLogo{
    background-image: url('../../public/hackmatchlogo3.png');
    width:50%;
    height: 100%;
    background-size:cover;
    margin-top: -5%;
    background-position: center;
}
.timesIcons{
    width: 50%;
    height: 100%;
    margin-top: -40%;
    align-self: center;
    color:aliceblue;
}

.stories{
    width:80%;
    height:15%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    display: flex;
}
.story{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aliceblue;
    border: 10px solid #FFD76C;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right:1%;
}
.person{
   margin-top: 2%; 
   width: 100%;
   height:60vh;
   border-radius: 5%;
   background-color: #703dbb;
   margin-left: auto;
   margin-right: auto;
   padding: 3%;
   align-self: center;
   transition: transform 0.3s ease, opacity 0.3s ease;
   z-index:5;
}
.person.show {
    opacity: 1;
    visibility: visible;
    position: relative;
  top: 10%;
  left: 0%;
  }
  
  .person.hide {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  top: 10%;
  left: 0%;
  }
  

.person.yes{
    transform: scale(0.9) rotate(90deg);
    transform-origin: 120% 60vh;
}
.person.no{
    transform: scale(0.9) rotate(-90deg);
    transform-origin: -20% 60vh;
}
.person.undoY{
    transform: scale(0.9) rotate(90deg);
    transform-origin: 120% 60vh;
}
.person.undoN{
    transform: scale(0.9) rotate(-90deg);
    transform-origin: -20% 60vh;
}
.bitmoji{
    width:100%;
    height: 50vh;
    background-color: rgb(59, 59, 59);
    border-radius: 5%;
}
.things{
    display: flex;
    margin-left: 5%;
    margin-bottom: 10%;
}
.thing{
    width: 70px;
    height: 40px;
    border-radius: 50%;
    background-color:  #a07ce4;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right:1%;
    padding: 5px;
    margin-bottom: 4%;
}
.thing p{
    margin-top:-10%;
}
.thingIcon{
    width: 30px;
    height: 30px;
}
.name{
    color:aliceblue;
    font-size: 20px;
    margin-top: 1%;
    text-align: left;
    margin-left: 2%;
    z-index: 2;
    
    margin-bottom: 1%;
}
.choose{
    width:80%;
    height:15%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 2%;

}
.choiceNo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(211, 0, 0);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right:5%;
    text-align: center;
    padding: 5px;
}
.choiceUndo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(52, 21, 225);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right:5%;
    text-align: center;
    padding: 10px;
}
.choiceYes{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(71, 224, 15);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right:5%;
    text-align: center;
    padding: 5px;
}
.choiceIcons{
    width: 30px;
    height: 30px;
    align-self: center;
    color:aliceblue;
}
.menus{
    width:100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    bottom: 0;
    text-decoration: none;
    
}
.menu{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:#703dbb;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    bottom: 0;
}
a{
    text-decoration: none;
}
.menuIcon{
    width: 40px;
    height: 40px;
    color: aliceblue;
}


