
.home {
    background-color: #ccccff;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 414px;
    text-align: center;
  }
.logos{
    display: flex;
    width: 25vh;
    height: 5vh;
}
.hackwesternLogo{
    background-image: url('../../public/hackwesternlogoWhite.png');
    width: 15%;
    height: 90%;
    background-size: cover;
    background-position: center;
    margin-top: -5%;
}
.hackmatchLogo{
    background-image: url('../../public/hackmatchlogo4.png');
    width:70%;
    height: 120%;
    background-size:cover;
    margin-top: -5%;
    background-position: center;
}
.timesIcons{
    width: 50%;
    height: 100%;
    margin-top: -40%;
    align-self: center;
    color:aliceblue;
}

.stories{
    width:80%;
    height:15%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    display: flex;
}
.story{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aliceblue;
    border: 10px solid #FFD76C;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right:1%;
}
.person{
   margin-top: 5%; 
   width: 100%;
   height:65vh;
   border-radius: 5%;
   background-color: #b08cec;
   margin-left: auto;
   margin-right: auto;
   padding: 3%;
   align-self: center;
   transition: transform 0.3s ease, opacity 0.3s ease;
   z-index:5;
   box-shadow: 
   0px 4px 10px rgb(106, 4, 113), /* Top card shadow */
   0px 8px 15px rgba(106, 4, 113, 0.5), /* Second card shadow (lighter purple) */
   0px 12px 20px rgba(106, 4, 113, 0.3); /* Third card shadow (fainter purple) */
}
.person.show {
    opacity: 1;
    visibility: visible;
    position: relative;
  top: 10%;
  left: 0%;
  }
  
  .person.hide {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  top: 10%;
  left: 0%;
  }
  

.person.yes{
    transform: scale(0.9) rotate(90deg);
    transform-origin: 120% 60vh;
}
.person.no{
    transform: scale(0.9) rotate(-90deg);
    transform-origin: -20% 60vh;
}
.person.undoY{
    transform: scale(0.9) rotate(90deg);
    transform-origin: 120% 60vh;
}
.person.undoN{
    transform: scale(0.9) rotate(-90deg);
    transform-origin: -20% 60vh;
}
.bitmoji{
    width:100%;
    height: 50vh;
    background-color: rgb(59, 59, 59);
    border-radius: 5%;
}
.things{
    display: flex;
    margin-left: 5%;
    margin-bottom: 10%;
}
.thing{
    width: 70px;
    height: 40px;
    border-radius: 50%;
    background-color:  #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right:3%;
    padding: 5px;
    margin-top: 2.5%;
    border: 1px solid #8004b2 ;
    box-shadow: 0 0 5px 2px #703dbb;
}
.thing p{
    margin-top:-10%;
}
.thingIcon{
    width: 40px;
    height: 30px;
}
.name{
    color:aliceblue;
    font-size: 120%;
    font-weight: 550;
    margin-top: 2%;
    text-align: left;
    margin-left: 2%;
    z-index: 2;
    
    margin-bottom: 1%;
}
.choose{
    width:80%;
    height:15%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 2%;

}
.choiceNo{
    width: 15%;
    height: 25%;
    border-radius: 50%;
    background-color: rgb(211, 0, 0);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right:7%;
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 5px 2px rgb(151, 0, 0);
    transition: background-color 0.3s ease; /* Smooth transition */

}
.choiceNo:active {
    background-color: rgb(150, 7, 7); /* Dark green */
    box-shadow: 0 0 5px 2px rgb(85, 2, 2); /* Adjust the shadow for consistency */
    transform: scale(0.95); /* Slightly shrink on click for feedback */
}
.choiceUndo{
    width: 30%;
    height: 20%;
    border-radius: 50%;
    background-color: rgb(141, 82, 217);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right:7%;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 5px 2px #703dbb;
    transition: background-color 0.3s ease; /* Smooth transition */

}


.choiceUndo:active {
    background-color: rgb(103, 0, 114); /* Dark green */
    box-shadow: 0 0 5px 2px rgb(52, 0, 100); /* Adjust the shadow for consistency */
    transform: scale(0.95); /* Slightly shrink on click for feedback */
}
.choiceYes{
    width: 15%;
    height: 25%;
    border-radius: 50%;
    background-color: rgb(71, 224, 15);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right:7%;
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 5px 2px rgb(34, 129, 0);
    transition: background-color 0.3s ease; /* Smooth transition */
}

/* Change to darker green on click */
.choiceYes:active {
    background-color: rgb(34, 129, 0); /* Dark green */
    box-shadow: 0 0 5px 2px rgb(20, 100, 0); /* Adjust the shadow for consistency */
    transform: scale(0.95); /* Slightly shrink on click for feedback */
}

.choiceIcons{
    width: 30px;
    height: 30px;
    align-self: center;
    color:rgb(255, 255, 255);
}
.menus{
    margin-bottom:0%;
    left:0;
    width: 100%;
    height:60px;
    margin-top: 10%;
    display: flex;
    background-color:#a07ce4;
    justify-content: center;
    align-items: center;
    bottom: 0;
    text-decoration: none;
    box-shadow: 0 0 8px 2px #703dbb;
    
}
.menu{
    width: 60px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    padding: 1.5vh;
    display:flex;

}
.menuIcon{
    width: 40px;
    height: 40px;
    color: aliceblue;

}


