
  
  /* Body styling */
  .signup body  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: #ffffff;
    width: 80%;
    flex-direction: column;
    border-radius: 20px;
      box-shadow: 0 4px 8px rgba(115, 33, 210, 0.855);
  }
  
  /* Container for the form */
  .signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    width: 80%;
    flex-direction: column;
    border-radius: 20px;
      box-shadow: 0 4px 8px rgba(115, 33, 210, 0.855);
  }
  
  
  /* Title styling */
  .signup h1 {
    font-size: 24px;
    color: #b46de7; /* Purple */
    margin-bottom: 20px;
    font-weight: 600;
  }
  
  /* Input fields styling */
  .signup input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    outline: none;
    font-family: "Courier New", Courier, monospace;

  }
  
  .signup input:focus {
    border-color: #6a0dad; /* Purple */
  }
  
  /* Button styling */
  .signup button {
    width: 100%;
    padding: 12px;
    background-color: #6a0dad; /* Purple */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .signup button:disabled {
    background-color: #9b4dca; /* Lighter Purple */
    cursor: not-allowed;
  }
  
  /* Responsive adjustments */
  @media (max-width: 480px) {
    .signup  {
      padding: 20px;
    }
  
    .signup  h1 {
      font-size: 20px;
    }
  
    .signup input {
      font-size: 14px;
    }
  
    .signup button {
      font-size: 14px;
    }
  }
  
  .email {
    width: 75%;
    height: 30%;
    border-radius: 10px;
    border: 1px solid #b08cec;
    padding: 10px;
    font-size: 16px;
}

.password{
    width: 75%;
    height: 30%;
    border-radius: 10px;
    border: 1px solid #b08cec;
    padding: 10px;
    font-size: 16px;

}